
<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title = '100 ideas')"></head>
<body>
<th:body th:replace="template :: header"></th:body>
<main class="container">
    <div class="row g-5">
        <div class="col-md-12">
            <article class="blog-post">
                <h2 class="blog-post-title mb-1">Questions</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Content</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="question : ${questionsPage.content}">
                        <td th:text="${question.content}">Question</td>
                        <td>X</td>
                        <td>X</td>

                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end" th:if="${questionsPage.totalPages > 0}">
                        <li class="page-item" >
                            <a class="page-link" th:href="@{''(size=${questionsPage.size}, page=${previousPage})}" tabindex="-1">Previous</a>
                        </li>
                        <th:block th:each="pageNumber : ${pageNumbers}">
                            <li class="page-item">
                                <a class="page-link" href="#" th:href="@{''(size=${questionsPage.size}, page=${pageNumber}-1)}" th:text="${pageNumber}"></a>
                            </li>
                        </th:block>
                        <li class="page-item">
                            <a class="page-link" th:href="@{''(size=${questionsPage.size}, page=${nextPage})}">Next</a>
                        </li>
                    </ul>
                </nav>




            </article>
        </div>

    </div>

</main>

<th:body th:replace="template :: footer"></th:body>
</body>

<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom.js"></script>
</html>