
<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title = '100 ideas' + ' - ' + ${question.get().getContent()})"></head>
<body>
<th:body th:replace="template :: header"></th:body>
<main class="container">
  <div class="row g-5">
    <div class="col-md-12">
      <article class="blog-post">
        <h2 class="blog-post-title mb-1" th:text="${question.get().getContent()}">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
        <h3>Answers</h3>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="answer : ${answers}">
            <td th:text="${answer.content}">Answer</td>
            <td>X</td>
            <td>X</td>

          </tr>
          </tbody>
        </table>
      </article>
    </div>

  </div>

</main>

<th:body th:replace="template :: footer"></th:body>
</body>


<!-- jQuery -->
<script src="/admin/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom.js"></script>
</html>