.sort-asc:after {
    content: "\21E7";
}

.sort-desc:after {
    content: "\21E9";
}

.o-hidden {
    overflow:hidden;
}

.nav {
    transition: transform 0.4s;
    transform: translateX(50%);
    left: -50%;
}

.nav.justify-content-end {
    transform: translateX(0);
    left: 0;
}
